
<div class="main-content">
  
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
   
   <img width="100%" src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/75392744_970150183384377_4044789428147716096_o.jpg?_nc_cat=107&ccb=2&_nc_sid=8bfeb9&_nc_ohc=Ep63-zU-tC0AX_YOQvq&_nc_ht=scontent-xsp1-2.xx&oh=5dc15b15f3b54a64dd17be04d749be60&oe=5FE4FD5B" alt="">
   <h2>Playlist {{plIsLoaded? playlist.name:' '}}</h2>
   <h3>Lượt nghe:{{playlist.totalListen}}</h3>
   <h4>Tổng cộng {{playlist.totalSong}} bài hát</h4>
   <h4>Lượt like:{{playlist.totalLike}}</h4>
   <h4>Lượt bình luận:{{playlist.totalCmt}}</h4>
   
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="container">

        <div class="content">
          <mat-list color="primary">
            
            <div class="song-list">
              <mat-list-item *ngFor="let file of files; let i = index" (click)="play(file, i)" >
                <mat-icon  mat-list-icon style="margin-top:-20px;padding-right: 20px;">
                  <img src="{{file.thumbnail}}" alt="{{ file.name }}"  width="50px" height="50px">
                </mat-icon>
                
                <h4 mat-line>{{ file.name }}</h4>
                <h5 mat-line> {{ file.owners[0].nameOwner }}</h5>
                <mat-icon color="primary" *ngIf="player.currentFile.index === i && !player.state?.error">volume_up</mat-icon>
                <h6 *ngIf="player.currentFile.index === i && player.state?.error">ERROR</h6>
                <mat-divider></mat-divider> 
              </mat-list-item>
            </div>
          </mat-list>
        </div>
        
        <button type="button" class="btn btn-primary" (click)="seemore()">Xem thêm</button>
        
      </div>
    </div>
    
  </div>
  
</div>
