<div class="wrapper" style="padding-top: 10px;padding-left: 10px;">
    <div class="sidebar" data-color="danger" data-background-color="white" >
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        
        <router-outlet></router-outlet>
      
    </div>
   
</div>
<app-footer></app-footer>
