<nb-card>
  <nb-card-header>
    Quản lí bài hát
  </nb-card-header>

  <nb-card-body>
    <div class="horizontal-form" autocomplete="off" style="padding: 0 15px; margin-top: 15px;">
      <div class="m-form m-form--label-align-right">
        <div class="row align-items-center m--margin-bottom-10">
          <div class="col-xl-12">
            <div class="form-group m-form__group align-items-center">
              <div class="input-group">

                <b style="display: flex; align-items: center; margin-left: -20px;"></b>
                <input nbInput class="search-input" style="margin-left: 10px;width: 100%;" type="text" autoFocus
                  placeholder="ID hoặc tên bài hát..." name="Keyword" (change)="KeywordChange($event)">
                <span style="width: 10px"></span>

                <span style="width: 10px"></span>
                <span class="input-group-btn">
                  <button (click)="onSearch()" class="btn btn-outline-info">Tìm <i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng2-smart-table class="table-song" [settings]="settings" [source]="source"
      (userRowSelect)="onRowSelect($event);openWithoutBackdropClick(dialog)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- <ng-template #dialog let-data let-ref="dialogRef">
  <div class="container-card-song">

    
    <div class="movie-card container">

      <div class="container card-child">

        <a><img src="{{data.song.thumbnail}}" alt="cover" class="cover" /></a>
        
        <div class="hero">
          <div class="avatars">
            <li style="display: inline; list-style: none;" *ngFor="let u of data.song.owners">
              <a href="#" data-tooltip="{{u.nameOwner}}" data-placement="top">
                <img class="imageSinger" src="{{u.thumbnail}}" alt="avatar1" />
              </a>
            </li>
          </div>
          <div class="details">
            
            <div class="title1">{{data.song.name}}</div>

            <div class="title2">{{data.singers}}</div>
            <audio id="music" style="height: 25px; width: 95%;"  controls>
              <source src="{{data.song.fileMusic}}" type="audio/mp3">
              Your browser does not support the audio tag.
            </audio>
            

            <div class="infor">
              <i class="fa fa-heart likes"> {{data.song.totalLike}}</i>
              <i class="fa fa-download likes"> {{data.song.totalDownload}}</i>
              <i class="fa fa-headphones likes"> {{data.song.totalListen}}</i>
            </div>


          </div> 

        </div> 

        <div class="description">


          <div class="column1">


          </div> 

          <div class="column2">


            <div>Ngày tạo: {{data.song.dateCreate}}</div>
            <div>Thể loại: {{data.types}}</div>
            <div>Tag: <li style="display: inline; list-style: none;" *ngFor="let t of data.song.tags">
                <span class="tag">{{t.name}}</span>
              </li>
            </div>
            <div>Mô tả: </div>
            <textarea rows="3" nbInput fullWidth shape="round"
              placeholder="Text Area">{{data.song.description}}</textarea>
          </div> 
        </div> 

      </div> 
    </div> 
  </div>
</ng-template> -->

<ng-template #dialog let-data let-ref="dialogRef">
<div class="container">
  <div class="main-body">
  
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
        </nav>
        <!-- /Breadcrumb -->
  
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  
                  <!-- <img *ngIf="data.song.thumbnail=='' || data.song.thumbnail==null" src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png" alt="Admin" class="rounded-circle" width="150"> -->
                  <img src="{{data.song.thumbnail}}" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{data.song.name}}</h4>
                    <p class="text-secondary mb-1">{{data.singers}}</p>
                    <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                    <!-- <button class="btn btn-primary">Follow</button>
                    <button class="btn btn-outline-primary">Message</button> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <!-- <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6> -->
                  <audio id="music" style="height: 25px; width: 95%;"  controls>
                    <source src="{{data.song.fileMusic}}" type="audio/mp3">
                    Your browser does not support the audio tag.
                  </audio>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <!-- <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                  <span class="text-secondary">Chưa có</span> -->
                  <h6 class="mb-0"><i class="fa fa-heart"> </i> {{data.song.totalLike}}</h6>
                  <h6 class="mb-0">{{data.song.totalListen}} <i class="fa fa-headphones"> </i></h6>
                </li>
                
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><i class="fa fa-download"> </i> {{data.song.totalDownload}}</h6>
                  <h6 class="mb-0">{{data.song.totalCmt}} <i class="fa fa-comment"> </i></h6>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><i class="fa fa-microphone"> </i> Ca sĩ</h6>
                <div class="avatars">
                  <li style="display: inline; list-style: none;" *ngFor="let u of data.song.owners">
                    <a data-tooltip="{{u.nameOwner}}" data-placement="top">
                      <img class="imageSinger" width="50" style="margin-left: 10px;" src="{{u.thumbnail}}" alt="avatar1" />
                    </a>
                  </li>
                </div>
              </li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">ID</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{data.song.id}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Ngày tạo</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{data.song.dateCreate}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Độ dài</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{data.song.duration}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Thể loại</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <div><li style="display: inline; list-style: none;" *ngFor="let t of data.song.types">
                      <span class="tag">{{t.name}}</span>
                    </li>
                  </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Tag</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <div><li style="display: inline; list-style: none;" *ngFor="let t of data.song.tags">
                      <span class="tag">{{t.name}}</span>
                    </li>
                  </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mô tả</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{data.song.description}}
                  </div>
                </div>
                <hr>  
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Lyric</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <textarea rows="6" nbInput fullWidth shape="round"
              placeholder="Text Area">{{data.lyric}}</textarea>
                  </div>
                </div>
                <hr>  
                                                           
              </div>
            </div>
            
          </div>
        </div>
      </div>
  </div>
</ng-template>