<div class="card" style="width: 15rem; ">
    <img class="card-img-top" src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/75392744_970150183384377_4044789428147716096_o.jpg?_nc_cat=107&ccb=2&_nc_sid=8bfeb9&_nc_ohc=Ep63-zU-tC0AX_YOQvq&_nc_ht=scontent-xsp1-2.xx&oh=5dc15b15f3b54a64dd17be04d749be60&oe=5FE4FD5B" alt="Card image cap">
    <div class="card-body">
     <a href="#/playlist/{{id}}"><button type="button"  class="btn btn-large btn-block btn-primary">Phát </button></a>
    </div>
  </div>
